.header__hello{
    color: var(--mainTextColor);
    font-family: 'Aleo', serif;
    font-size: 4rem;
    text-align: center;

    span{
        color: var(--secondaryTextColor);
    }

    @media all and (max-width: 450px){
        font-size: 3rem;
    }

    @media all and (max-width: 380px){
        font-size: 2.5rem;
    }

    @media all and (max-height: 450px){
        font-size: 2.5rem;
    }
}