// nav button styling
.navButton{
    z-index: 33;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 80px;
    width: 80px;
    background: transparent;
    border: none;
    overflow: hidden;

    .navButton__top, .navButton__mid, .navButton__bot{
        position: absolute;
        width: 100%;
        height: 8px;
        background: black;
        border-radius: 4px;
        top: 36px;
        transform: translate(0, 0) rotate(0);
    }

    .navButton__top{
        transform: translate(0, -30px) rotate(0);
        transition: all .3s ease;
    }

    .navButton__bot{
        transform: translate(0, 30px) rotate(0);
        transition: all .3s ease;
    }

    &:hover{
        cursor: pointer;
    }
}

// nav button animation
.navButton.navButton--active .navButton__top{
    transform: translate(-10px, -19px) rotate(-45deg);
    width: 70%;
}

.navButton.navButton--active .navButton__bot{
    transform: translate(-10px, 19px) rotate(45deg);
    width: 70%;
}

// navigation body styling
.nav{
    z-index: 32;
    position: fixed;
    transform: skew(0deg) translate3d(-100%, 0, 0);
    top: 0;
    left: -30%;
    height: 100vh;
    width: 90vw;
    background: var(--secondaryTextColor);
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: column nowrap;
}

// animate menu and other elements
.nav--active{
    transform: skew(13deg) translate3d(0, 0, 0);
}
.navButton.navButton--active ~ .main{
    transform: translate3d(7%, 0,0);
    filter: blur(3px) saturate(.1);
}

// element to hide nav when you click outside of navigation body
.nav__hideNav{
    z-index: 30;
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: transparent;
    cursor: pointer;
}

.navButton.navButton--active + #header .nav__hideNav{
    display: block;
}

// navigation elements

.nav-link{
    // position: fixed;
    transform: skew(-13deg) translate3d(200%, 0, 0);
    text-align: left;
    top: 50%;
    left: 30%;
    z-index: 34;
    color: #FFF;
    font-size: 3em;
}