.backgroundCont2 .footer, .header, .features, .about, .contact {
  display: block;
  width: 100vw;
  min-height: 100vh; }

.bg-wrapper {
  min-height: 500vh;
  width: 100vw; }

.backgroundCont1 {
  position: relative; }

.backgroundCont2 {
  position: relative; }
  .backgroundCont2 .footer {
    position: absolute; }

.header {
  position: relative; }
  .header .header__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    max-height: 70vh; }

.features {
  background-color: blue; }

.about {
  background-color: green; }

.contact {
  background-color: pink; }
