.header__hello {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mainTextColor);
  font-family: 'Aleo', serif;
  font-size: 5em;
  text-align: center; }
  .header__hello span {
    color: var(--secondaryTextColor); }
