.nav {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .nav .nav-link {
    height: 100%;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0);
    transition: all .3s ease;
    position: relative; }
    .nav .nav-link:hover {
      color: var(--mainTextColor); }
    .nav .nav-link > span {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-bottom: 6px solid var(--mainTextColor);
      transition: all .2s ease; }
    .nav .nav-link:hover > span {
      width: 100%; }
