html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.header{
    background: url('../../../dist/images/topBg2_light.jpg') fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact{
    background: url('../../../dist/images/bottomBg2_light.jpg') fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__midSection{
    position: absolute;
    display: flex;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items:center; 
    flex-flow: column nowrap;
    overflow: visible;
}

.features{
    background: linear-gradient(180deg, rgb(37, 41, 40) 20%, rgb(37, 56, 56) 100%);

    .content{
        background: rgb(37, 41, 40);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4em auto;
        max-width: 910px;
        width: 97%;
        flex-flow: row wrap;

        @media all and (max-width: 900px){
            & {
                margin: 0 auto;
            }
        }
    }
}