@import '../variables/mixins.scss';

.main{
    transform: translate3d(0,0,0);
    will-change: transform, filter;
    width: 120%;
    height: 100%;
    background: transparent;
    transition: all .15s ease-out .07s;
}

.header{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.features{
    position: relative;
    width: 100vw;
}

.aboutItem{
    position: relative;
    width: 100vw;
}

.contact{
    position: relative;
    width: 100vw;
}