html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.header{
    background: url('../../../dist/images/topBg2_light.jpg') fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact{
    background: url('../../../dist/images/bottomBg2_light.jpg') fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}