@import '../partials/mixins.scss';

.bg-wrapper{
    min-height: 500vh;
    width: 100vw;
}

.backgroundCont1{
    position: relative;
}

.backgroundCont2{
    position: relative;

    .footer{
        @extend %section;
        position: absolute;
    }
}

.header {
    @extend %section;
    position: relative;

    .header__img{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        max-height: 70vh;
    }
}

.features{
    @extend %section;
    background-color: blue;
}

.about{
    @extend %section;
    background-color: green;
}

.contact{
    @extend %section;
    background-color: pink;
}

